<%- include("./partials/head") %>
<html>
<nav>
    <ul>
        <li><a href="/">Hjem</a></li>
    </ul>
</nav>
<div id="acc-info">
    <h1>Hei <strong><%= user.email %></strong></h1>
    <h1>Login: <strong><%= user.email %></strong></h1>
    <p><strong>:p</strong></p>
    <form action="/deleteuser" method="POST">
        <div class="flex">
            <button id="slett" alt="Slett" onclick="return confirm('Er du sikker på at du vil slette brukeren? Dette kan ikke angres, GUIDENE DINE BLIR OGSÅ SLETTET!')">
                <i>S</i>
                <i>L</i>
                <i>E</i>
                <i>T</i>
                <i>T</i>
            </button>
        </div>
    </form>
</div>
</html>
