<html class="noscroll">
    <%- include("./partials/head") %>
    <body id="body-login">
        <%- include("./partials/nav") %>
        <div id="login-content">
            <div id="login-main">
                <div id="login-text">
                    <h1>Create User</h1>
                </div>
                <form id="login-input" action=""  method="POST">
                    <div>
                        <h1>Enter username</h1>
                        <input type="username" name="login" id="login-email" placeholder="Username" class="login">
                        <h1>Enter password</h1>
                        <input type="password" name="password" id="login-password" placeholder="Password" class="login">
                        <h1>Repeat password</h1>
                        <input type="password" name="repeatPassword" id="login-password" placeholder="Repeat password" class="login">
                    </div>
                    <div>
                        <button class="styled-button" id="right">Create User</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>