<%- include("./partials/head") %>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="main"> 
        <h1>Dashboard</h1>
        <a href="/nyGuide" id="nostyle">
            <button id="new-guide" alt="CREATE NEW GUIDE">
                <i>C</i>
                <i>R</i>
                <i>E</i>
                <i>A</i>
                <i>T</i>
                <i>E</i>
                <i>&nbsp;</i>
                <i>N</i>
                <i>E</i>
                <i>W</i>
                <i>&nbsp;</i>
                <i>G</i>
                <i>U</i>
                <i>I</i>
                <i>D</i>
                <i>E</i>
            </button>
        </a>
    </div>
</body>