<%- include("./partials/head") %>

<body>
    <!-- <%- include("./partials/nav") %> -->
    <div class="main-guide"> 
        <div class="grid-container">
            <div id="side">
                <div>
                    <a href="/" id="back">&larr;</a>
                </div>
                <div id="side-links">
                    <div id="top">
                        <a href="">ting1</a>
                        <a href="">ting1</a>
                        <a href="">ting1</a>
                        <a href="">ting1</a>
                    </div>
                    <div id="bottom">
                        <a href="/">Home</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
            <div id="guide-content">
                
            </div>
        </div>
    </div>
</body>