<%- include("./partials/head") %>

<body>
    <%- include("./partials/nav") %>
    <div class="main-guide"> 
        <div class="grid-container">
            <div id="side"></div>
            <div id="guide-content"></div>
        </div>
    </div>
</body>