<%- include("./partials/head") %>

<body>
    <%- include("./partials/nav") %>
    <div class="main">
        <div>
            <div class="search">
                <input type="search" name="Search" id="search" placeholder="Søk...">
            </div>
        </div>
        <div class="main-content">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>