<html class="noscroll">
    <%- include("./partials/head") %>
    <body id="body-login">
        <%- include("./partials/nav") %>
        <div id="login-content">
            <div id="login-main">
                <div id="login-text">
                    <h1>Logg inn</h1>
                </div>
                <form id="login-input" action=""  method="POST">
                    <div>
                        <h1>Epost</h1>
                        <input type="username" name="brukernavn" id="login-email" placeholder="Email" class="login" autocomplete="off" required>
                        <h1>Passord</h1>
                        <input type="password" name="password" id="login-password" placeholder=" Password" class="login" required>
                    </div>
                    <div class="flex">
                        <button id="LoggInn" alt="Logg inn">
                            <i>L</i>
                            <i>O</i>
                            <i>G</i>
                            <i>G</i>
                            <i>&nbsp;</i>
                            <i>I</i>
                            <i>N</i>
                            <i>N</i>
                        </button>
                    </div>
                </form>
                <h2>Ny bruker? </h2>
                <div id="login-buttons">
                    <a href="/createuser" id="nostyle">
                        <div class="flex">
                            <button id="CreateUser" alt="Lag ny bruker">
                                <i>L</i>
                                <i>A</i>
                                <i>G</i>
                                <i>&nbsp;</i>
                                <i>N</i>
                                <i>Y</i>
                                <i>&nbsp;</i>
                                <i>B</i>
                                <i>R</i>
                                <i>U</i>
                                <i>K</i>
                                <i>E</i>
                                <i>R</i>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>