:root {
    --primary-color: #f18585;
    --dark-primary: #a83c3c;
    --link-color: #5fb7ff;
    --dark-link: #1066ac;
    --dark-color: #313131;
    --black-color: #0f0f0f;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.noscroll {
    overflow-y: hidden;
}

body, #side, #side-links, #top, #bottom, .main, nav, ul, .main-content, #login-content, #login-main, #login-buttons, #new-guide, #ny-guide-form, .flex, #search-type, .guide-item, .edit-guide, #edit-guide, #edit-button {
    display: flex;
}

.grid-container {
    display: grid;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    flex-direction: column;
}

#side-links, #top, #bottom {
    flex-direction: column;
}

nav {
    background-color: var(--dark-color);
    width: 100%;
    height: min-content;
    padding:5px 0 5px 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

li > a {
    color: var(--link-color);
    padding: 0 10px 0 10px;
    text-decoration: none;
}

li:first-child {
    flex-grow: 1;
    padding: 0px;
    width: 60%;
}

li:last-child {
    padding: 0 20px 0 10px;
}

.main {
    justify-content: center;
    margin: 50px 0 50px 0;
    flex-direction: column;
    align-items: center;
} 

.main-content {
    margin: 100px 0 50px 0;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    justify-content: center;
}

.main-content > a > div {
    width: 500px;
    height: 250px;
    min-width: 150px;
    background-color: var(--dark-color);
    border-radius: 15px;
    border: var(--black-color) solid 5px;
}

#login-content {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;

}

#login-main {
    background-color: var(--dark-color);
    border-radius: 15px;
    height: 600px;
    width: 600px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#login-text {
    color: var(--primary-color);
}

#login-input > div > h1 {
    color: var(--link-color);
    margin: 0 0 20px 0;
}


.login {
    border-radius: 5px;
    border: solid  var(--black-color);
    margin: 0 0 20px 0;
}

.grid-container {
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    height: 100vh;
}

#side {
    background-color: var(--dark-color);
    color: var(--link-color);
    padding-left: 20px;
    height: 100vh;
    flex-direction: column;
}

#guide-content {
    background-color: var(--primary-color);
    padding: 20px;
    grid-column: 2;
    overflow-y: scroll;
}

#back {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    font-size: xx-large;
}

#side-links > div > a {
    color: var(--link-color);
    text-decoration: none;
}

#side-links {
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
}

#bottom {
    padding: 0 0 20px 0;;
}

#bottom > a {
    color: var(--link-color);
    text-decoration: none;
}

#top {
    justify-content: space-between;
}

#top > a {
    padding: 5px 0 5px 0;
}

#new-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: #5fb7ff;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#new-guide:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#new-guide:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#new-guide:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#new-guide i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#new-guide:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#new-guide:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#new-guide:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#new-guide:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#new-guide:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#new-guide:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#new-guide:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#new-guide:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#new-guide:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#new-guide:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#new-guide:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

#new-guide:hover i:nth-child(11) {
    transition-delay: calc(0.045s * 11);
}

#new-guide:hover i:nth-child(12) {
    transition-delay: calc(0.045s * 12);
}

#new-guide:hover i:nth-child(13) {
    transition-delay: calc(0.045s * 13);
}

#new-guide:hover i:nth-child(14) {
    transition-delay: calc(0.045s * 14);
}

#new-guide:hover i:nth-child(15) {
    transition-delay: calc(0.045s * 15);
}

#new-guide:hover i:nth-child(16) {
    transition-delay: calc(0.045s * 16);
}

#new-guide-new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(120, 87%, 36%) 0px 7px 0px 0px;
    background-color: #6cff5f;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#new-guide-new:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#new-guide-new:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#new-guide-new:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#new-guide-new i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#new-guide-new:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#new-guide-new:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#new-guide-new:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#new-guide-new:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#new-guide-new:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#new-guide-new:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#new-guide-new:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#new-guide-new:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#new-guide-new:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#nostyle {
    text-decoration: none;
}

#ny-guide-form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#guide-form {
    margin: 0;
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: solid 2px var(--dark-color);
    border-radius: 12px;
    padding: 15px;
    width: 35vw;
}

#ny-guide-1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex {
    justify-content: center;
    align-items: center;
}

#ny-seksjon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: #5fb7ff;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#ny-seksjon:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#ny-seksjon:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#ny-seksjon:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#ny-seksjon i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#ny-seksjon:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   
#ny-seksjon:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#ny-seksjon:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#ny-seksjon:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#ny-seksjon:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#ny-seksjon:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#ny-seksjon:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#ny-seksjon:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#ny-seksjon:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#ny-seksjon:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#ny-seksjon:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

.guide-input {
    border-radius: 5px;
    border: solid  var(--black-color);
    margin: 0 0 20px 0;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.guide-beskrivelse {
    border-radius: 5px;
    border: solid  var(--black-color);
    width: 50%;
    min-height: min-content;
    resize: vertical;
}

#loggInn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: #5fb7ff;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#loggInn:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#loggInn:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#loggInn:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#loggInn i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#loggInn:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#loggInn:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#loggInn:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#loggInn:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#loggInn:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#loggInn:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#loggInn:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#loggInn:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#loggInn:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#CreateUser {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: #5fb7ff;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#CreateUser:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#CreateUser:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#CreateUser:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#CreateUser i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#CreateUser:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#CreateUser:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#CreateUser:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#CreateUser:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#CreateUser:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#CreateUser:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#CreateUser:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#CreateUser:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#CreateUser:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#CreateUser:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#CreateUser:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

#CreateUser:hover i:nth-child(11) {
    transition-delay: calc(0.045s * 11);
}

#CreateUser:hover i:nth-child(12) {
    transition-delay: calc(0.045s * 12);
}

#CreateUser:hover i:nth-child(13) {
    transition-delay: calc(0.045s * 13);
}

h2 {
    color: var(--primary-color);
    margin: 0;
}

.guide-h2 {
    color: black;
    text-align: center;
}

#top-guide {
    margin: 0;
}

.search-div {
    width: 50%;
}

#search {
    width: 100%;
    height: 35px;
    border-radius: 15px 0 0 15px;
    border: var(--dark-color) 3px solid;
}

#search-button {
    height: 35px;
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: var(--dark-color) 2px solid;
}

textarea {
    font-family: Arial, Helvetica, sans-serif
}

.guide-link > h2{
    margin: 5px;
    color: var(--link-color);
}

.main-content > a{
    text-decoration: none;
}

.guide-item > img {
    max-width: 500px;
}

.guide-item {
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    border: var(--black-color) solid 5px;
    background-color: var(--dark-color);
}


#edit-guide {
    align-items: center;
    flex-direction: column;
}

#edit-button {
    width: 50%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.guide-h2, .guide-p, .guide-h3 {
    color: var(--primary-color);
}

strong {
    color: var(--link-color);
}

#avbryt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: #5fb7ff;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#avbryt:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#avbryt:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#avbryt:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#avbryt i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#avbryt:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#avbryt:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#avbryt:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#avbryt:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#avbryt:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#avbryt:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#avbryt:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}


#slett {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(0, 87%, 36%) 0px 7px 0px 0px;
    background-color: #ff2121;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#slett:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#slett:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#slett:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#slett i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#slett:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}

#slett:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#slett:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#slett:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#slett:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#slett:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

.uploadOuter {
    text-align: center;
    padding: 20px;
    strong {
      padding: 0 10px
    }
  }
  .dragBox {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
    input[type="file"] {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      top: 0;
      left: 0;
    }
  }
  .draging {
    transform: scale(1.1);
  }
  #preview {
    text-align: center;
    img {
      max-width: 100%
    }
  }

  
#slett-bruker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: hsl(0, 87%, 36%) 0px 7px 0px 0px;
    background-color: #ff2121;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#slett-bruker:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#slett-bruker:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#slett-bruker:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#slett-bruker i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#slett-bruker:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#slett-bruker:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#slett-bruker:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#slett-bruker:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#slett-bruker:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#slett-bruker:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#slett-bruker:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#slett-bruker:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#slett-brukerguide:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#slett-brukerguide:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#slett-bruker-guide:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

#slett-brukerguide:hover i:nth-child(11) {
    transition-delay: calc(0.045s * 11);
}

#slett-brukerguide:hover i:nth-child(12) {
    transition-delay: calc(0.045s * 12);
}

#drop-area {
    border: 2px dashed #ccc;
    padding: 0 0 10px 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.highlight {
    border-color: purple;
}

.uploaded-image {
    width: 150px;
    margin-top: 10px;
}