:root {
    --primary-color: #f18585;
    --dark-primary: #a83c3c;
    --link-color: #5fb7ff;
    --dark-color: #313131;
}

.noscroll {
    overflow-y: hidden;
}

body, .main, nav, ul, .main-content, #login-content, #login-main, #login-buttons {
    display: flex;
}

.grid-container {
    display: grid;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    flex-direction: column;
}
    
nav {
    background-color: var(--dark-color);
    width: 100%;
    height: min-content;
    padding:5px 0 5px 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

li > a {
    color: var(--link-color);
    padding: 0 10px 0 10px;
    text-decoration: none;
}

li:first-child {
    flex-grow: 1;
    padding: 0px;
    width: 60%;
}

li:last-child {
    padding: 0 20px 0 10px;
}

.main {
    justify-content: center;
    margin: 50px 0 50px 0;
    flex-direction: column;
    align-items: center;
} 

.search-div {
    width: 50vw;
    outline: var(--dark-color) 2.5px solid;
    border-radius: 7px;
}

#search {
    width: 100%;
    border: none;
    border-radius: 7px;
    height: 25px;
}

.main-content {
    margin: 100px 0 0 0;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    justify-content: center;
}

.main-content > a > div {
    width: 500px;
    height: 250px;
    min-width: 150px;
    background-color: var(--dark-color);
    border-radius: 15px;
    border: #5fb7ff solid 5px;
}


#login-content {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;

}

#login-main {
    background-color: var(--dark-color);
    border-radius: 15px;
    height: 500px;
    width: 600px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#login-text {
    color: var(--primary-color);
}

#login-input > div > h1 {
    color: var(--link-color)
}

#login-buttons {
    margin: 50px 0 0 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.styled-button {
    display: inline-block;
    width: 6em;
    height: 38px;
    overflow: hidden;
    z-index: 1;
    border-radius: 6px;
    position: relative;
    border: solid #0f0f0f;
}

.styled-button::before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.styled-button:hover {
    color: white;
    transition: 0.3;
}

#left:before {
    bottom: 100%;
    right: 100%;
    transition: 0.3s;
}

#right:before {
    top: 100%;
    left: 100%;
    transition: 0.3s;
}

#left:hover::before {
    bottom: -30px;
    right: -30px;
}

#right:hover::before {
    top: -30px;
    left: -30px;
}

.login {
    border-radius: 5px;
    border: solid  #0f0f0f;
}

.grid-container {
    grid-template-columns: repeat(5, 1fr);
    
}