:root {
    --primary-color: #f18585;
    --dark-primary: #a83c3c;
    --link-color: #5fb7ff;
    --dark-link: #1066ac;
    --dark-color: #313131;
    --black-color: #0f0f0f;
}

.noscroll {
    overflow-y: hidden;
}

body, #side, #side-links, #top, #bottom, .main, nav, ul, .main-content, #login-content, #login-main, #login-buttons, #new-guide, #ny-guide-form {
    display: flex;
}

.grid-container {
    display: grid;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    flex-direction: column;
}
    
nav {
    background-color: var(--dark-color);
    width: 100%;
    height: min-content;
    padding:5px 0 5px 0;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

li > a {
    color: var(--link-color);
    padding: 0 10px 0 10px;
    text-decoration: none;
}

li:first-child {
    flex-grow: 1;
    padding: 0px;
    width: 60%;
}

li:last-child {
    padding: 0 20px 0 10px;
}

.main {
    justify-content: center;
    margin: 50px 0 50px 0;
    flex-direction: column;
    align-items: center;
} 

.search-div {
    width: 50vw;
    outline: var(--dark-color) 2.5px solid;
    border-radius: 7px;
}

#search {
    width: 100%;
    border: none;
    border-radius: 7px;
    height: 25px;
}

.main-content {
    margin: 100px 0 0 0;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 50px;
    justify-content: center;
}

.main-content > a > div {
    width: 500px;
    height: 250px;
    min-width: 150px;
    background-color: var(--dark-color);
    border-radius: 15px;
    border: var(--link-color) solid 5px;
}


#login-content {
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;

}

#login-main {
    background-color: var(--dark-color);
    border-radius: 15px;
    height: 500px;
    width: 600px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#login-text {
    color: var(--primary-color);
}

#login-input > div > h1 {
    color: var(--link-color);
    margin: 0 0 20px 0;
}

.styled-button {
    display: inline-block;
    width: 6em;
    height: 38px;
    overflow: hidden;
    z-index: 1;
    border-radius: 6px;
    position: relative;
    border: solid #0f0f0f;
}

.styled-button::before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.styled-button:hover {
    color: white;
    transition: 0.3;
    cursor: pointer;
}

#left:before {
    bottom: 100%;
    right: 100%;
    transition: 0.3s;
}

#right:before {
    top: 100%;
    left: 100%;
    transition: 0.3s;
}

#left:hover::before {
    bottom: -30px;
    right: -30px;
}

#right:hover::before {
    top: -30px;
    left: -30px;
}

.login {
    border-radius: 5px;
    border: solid  var(--black-color);
    margin: 0 0 20px 0;
}

.grid-container {
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    height: 100vh;
}

#side {
    background-color: var(--dark-color);
    color: var(--link-color);
    padding-left: 20px;
    height: 100vh;
    flex-direction: column;
}

#guide-content {
    background-color: var(--primary-color);
    padding: 20px;
    grid-column: 2;
    overflow-y: scroll;
}

#back {
    color: var(--link-color);
    text-decoration: none;
    font-size: xx-large;
}

#side-links > div > a {
    color: var(--link-color);
    text-decoration: none;
}

#side-links, #top, #bottom {
    flex-direction: column;
}

#side-links {
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
}

#bottom {
    padding: 0 0 20px 0;
}

#new-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: #5fb7ff;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
}
   
#new-guide:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
    letter-spacing: 4px;
    opacity: 1;
}
   
#new-guide:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}
   
#new-guide:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}
   
#new-guide i {
    color: #313131;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}
   
#new-guide:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}
   

#new-guide:hover i:nth-child(1) {
    transition-delay: calc(0.045s * 1);
}

#new-guide:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 1);
}

#new-guide:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 3);
}

#new-guide:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 4);
}

#new-guide:hover i:nth-child(5) {
    transition-delay: calc(0.045s * 5);
}

#new-guide:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#new-guide:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#new-guide:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#new-guide:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#new-guide:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

#new-guide:hover i:nth-child(11) {
    transition-delay: calc(0.045s * 11);
}

#new-guide:hover i:nth-child(12) {
    transition-delay: calc(0.045s * 12);
}

#new-guide:hover i:nth-child(13) {
    transition-delay: calc(0.045s * 13);
}

#new-guide:hover i:nth-child(14) {
    transition-delay: calc(0.045s * 14);
}

#new-guide:hover i:nth-child(15) {
    transition-delay: calc(0.045s * 15);
}

#new-guide:hover i:nth-child(16) {
    transition-delay: calc(0.045s * 16);
}

#nostyle {
    text-decoration: none;
}

#ny-guide-form {
    justify-content: center;
    align-items: center;
}

#ny-seksjon {
    padding: 0 5px 0 5px;
    width: min-content;
    height: min-content;
    background-color: var(--link-color);
}

#guide-form {
    background-color: var(--link-color);
    border: solid 2px var(--dark-color);
    border-radius: 12px;
    padding: 15px;
}

#new-guide-button {
    margin: 5px 0 0 0;
}